{% extends "base.twig" %}

{% block content %}
    <section class="content">
        <h2>Welcome to ORBAT Tool!</h2>
        <p>This is a utility to edit and track rosters for fake military units in games such as Arma. Note that presently access is limited, as this is very much a work-in-progress. If you're
            interested in using this tool in the meantime, please get in touch!</p>
    </section>
{% endblock %}
