{% extends "base.twig" %}

{% block content %}
    <section class="content">
        <h2>Welcome to ORBAT Tool!</h2>
        <p>This is a utility to edit and track rosters for fake military units in milsim games such as Arma.
            It features the ability to make custom unit structures, your own ranks, MOSes and qualifications,
            and more!</p>

        <p>Planned features for the future include: custom medals/devices and the ability to award them, an API for
            script automation, optional Discord role management, and more! If there's something in particular you're
            looking for, feel free to <a href="https://github.com/MisfitMaid/orbat/issues/new" target="_blank">file
                a feature request</a>.</p>

        <p>If you or your group find this service useful, please consider supporting via Patreon, Paypal, Github,
            or whatever floats your boat. As an unemployed loser every bit helps!</p>
    </section>
{% endblock %}
