{% extends "base.twig" %}

{% block title %}Create unit{% endblock title %}

{% block content %}
    {% if user %}
        <form method="post">
            <input type="hidden" name="csrf" value="{{ csrf }}">

            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label" for="name">Unit name</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input class="input" type="text" name="name" id="name" required="required"/>
                        </div>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label" for="icon">Icon</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <div class="file">
                                <label class="file-label">
                                    <input class="file-input" type="file" name="icon" id="icon" accept="image/png, image/jpeg"/>
                                    <span class="file-cta">
                                        <span class="file-icon"><i class="fa fa-file-image-o"></i></span>
                                        <span class="file-label">Choose an icon...</span>
                                    </span>
                                </label>
                            </div>
                        </div>
                        <p class="help">Uploaded icons will be reencoded as 256x256 PNGs</p>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal">
                <div class="field-label"></div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input class="button is-primary" type="submit" value="Create unit">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    {% endif %}
{% endblock %}